<script>
    (function () {
        'use strict';
        /** @polymerMixin */
        Mixins.DropdownEdit = (superclass) => class extends superclass {
            static get properties() {
                return {
                    model: Object,
                    value: {
                        type: Number,
                        notify: true,
                        observer: '_valueChanged'
                    },
                    invalid: {
                        type: Boolean,
                        value: false
                    },
                    errorMessage: String
                }
            }

            static get observers() {
                return [
                    '_selectedChanged(model.SelectedValue)'
                ]
            }

            constructor() {
                super();
                this.addEventListener('iron-select', (e) => this._onIronSelect());
            }

            ready () {
                this._ensureAttribute('role', 'error-container');
                super.ready();
                this._valueChanged();
                this.model.Initialize();
            }

            _valueChanged (value) {
                if(this.model && typeof value !== 'undefined')
                    this.model.SelectedValue = value;
            }

            _selectedChanged (selectedValue) {
                if (selectedValue)
                    this.value = selectedValue;
            }

            _onIronSelect () {
                this.model.LookupValue = this.model.SelectedValue;
            }
        }
    })();
</script>